<section ng-controller="HomeViewController">
    <app-color-v2 attr-color="grey"
                  attr-content="page.heading"
                  attr-action="action()">
                  </app-color-v2>

    <app-color attr-color="grey"
               attr-content="page.subHeading">
               </app-color>

    <form role="form">
        <div class="form-group">
            <input autofocus type="text" class="form-control" ng-keypress="$event.which === 13 && searchSong()" ng-model="namesong" required placeholder="tên bài hát, ca sỹ...">
        </div>
        <button type="button" class="btn btn-danger" ng-click="searchSong()">Tìm kiếm</button>
    </form>
    <div ng-if="isShowResult">
        <div ng-if="isShowPlay">
            <audio id="id-audio" style="width: 100%" controls="true" loop="true" autoplay="true">
                <source src="{{songPath | trusted}}" type="audio/mpeg">
                Trình duyệt hong hỗ trợ nhé ^^!
            </audio>
            <div>Đang phát: <i>{{titleSong}}</i></div>
        </div>
        <h4>Kết quả từ khóa: {{namesong}}</h4>
        <br>
        <ul class="list-group">
            <li style="cursor: pointer;" class="list-group-item" ng-repeat="song in listSong | orderBy:'name'" ng-click="listenSong(song.id)">
                <a>{{song.artist}} - {{song.name}}</a>
            </li>
        </ul>
    </div>
</section>