<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="index">
                <img class="logo" src="public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;Đăng bài miễn phí</a></li>
                <li ng-if="!logined"><a ui-sref="signin"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Đăng nhập</a></li>
                <li ng-if="!logined"><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Đăng ký</a></li>
                <li ng-if="logined"><a ui-sref="messages"><span class="fa fa-fw fa-bell-o"></span>&nbsp;&nbsp;Tin nhắn<span class="badge">0</span></a></li>
                <li ng-if="logined" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Tài khoản
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> Thông tin cá nhân</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Các bài đã đăng</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Đổi mật khẩu</a></li>
                        <li><a href="#" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Thoát</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>