AddDefaultCharset UTF-8
Options All -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>

#ErrorDocument 401 /errors/er_401.html
#ErrorDocument 404 /errors/er_404.html
#ErrorDocument 403 /errors/er_403.html
#ErrorDocument 500 /errors/er_500.html

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>